/* || WIP styles. Mostly borders and such
body {
  border: 2px solid yellow;
}

#page-wrapper {
  border: 2px solid pink;
}

nav {
  border: 2px solid red;
}

#nav-links {
  border: 2px solid rebeccapurple;
}

.nav-item {
  border: 2px solid greenyellow;
}

main {
  border: 2px solid skyblue;
} */

/* || General styles */
body {
  margin: 0;
  padding: 0;
}

/* Make the page wrapper fill the available width */
#page-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Modify the header styles */
header {
  display: flex;
  width: 100vw; /* viewport width */
  height: 3.4rem;
  align-items: center;
  border-bottom: 0.02rem solid rgba(176, 176, 176, 0.879);

  box-sizing: border-box; /* includes padding and border in width calculation */
}

#logo-image {
  width: 10rem;
  margin-top: 0.24rem;
  margin-left: 1rem;
}

/* || Nav styles */

nav {
  display: flex;
  width: 55%;
  margin-left: auto;
  margin-right: 3rem;
}

#nav-links {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

#nav-search-bar {
  display: flex;
  width: 20rem;
}

#nav-search-button {
  width: 25%;
}

#nav-search-field {
  width: 75%;
}

/* || Main styles */

main {
  height: 75rem;
}
/* || Footer styles */

footer {
  display: flex;
  justify-content: center;
}
